<% include partials/header %>

<div class="page_header">
    <p>Manon's discount tracker</p>
    <p id="dateToday"><%=date%></p>
</div>

<div class="content">
    <div class="shelf" id="shelf_discount">
        <div>
            <h1 class="shelf-header">On discount this week</h1>
        </div>
        <% productArray.forEach(function(product){ %> <% if(product.ah.discount
        != "No discount") { %>
        <div class="product-box">
            <a href="<%= product.ah.ahLink %>"
                ><h3><%=product.productName%></h3></a
            >
            <a href="<%= product.ah.ahLink %>"
                ><img src="<%=product.image%>" class="img"
            /></a>
            <p class="discount"><%=product.ah.discount %></p>
            <%if(product.ah.period){ %>
            <p class="discount period"><%=product.ah.period %></p>
            <% } %>
        </div>
        <% } %> <% }); %>
    </div>
    <div class="shelf" id="shelf_no_discount">
        <div>
            <h1 class="shelf-header">Not on discount this week</h1>
        </div>
        <% productArray.forEach(function(product){ %> <% if(product.ah.discount
        == "No discount") { %>
        <div class="product-box">
            <a href="<%= product.ah.ahLink %>"
                ><h3><%=product.productName%></h3></a
            >
            <a href="<%= product.ah.ahLink %>"
                ><img src="<%=product.image%>" class="img" id="no-discount-img"
            /></a>
            <p class="price tag">€<%=product.ah.price %></p>
        </div>
        <% } %> <% }); %>
    </div>
</div>

<% include partials/footer %>
<!-- 
<script>
let now = new Date();
now.format(now, 'ddd MMM DD YYYY');
</script> -->
